<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="..//scc/login2.css"> -->
</head>
<body>
    <div class="main">

        <div class="navbar">
        

            <!-- <div class="icon">
                <h2 class="logo"> ROYAL D.</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Design</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

            <div class="search">
                <input type="search" class="srch" name="#" placeholder="Type to text">
                <a href="#"><button class="btn">search</button></a>
            </div> -->

        </div>

        <div class="content">
            <h1>Web Design & <br><span>developer</span></h1>

            <pre class="par"> this is my login page just for my practice <br> Please login from that form.</pre>
        </div>
        
        <!-- <button class="cn"><a href="#">JOIN US</a></button> -->

        <div class="form">
            <h2>LOGIN Form</h2>
            <input type="text" [(ngModel)]="userObj.userName" name="userName" placeholder="Enter User Name">
            <input type="password" [(ngModel)]="userObj.password" name="" placeholder="Enter Password">
            <button class="btnn" (click)="onLogin()">Login</button>

            <p class="link text-white">Don't have account <br>
            <a href="#">Sibg up</a>Here</p>
            <p class="liw">Login width</p>
                
            <div class="icons">

            </div>
        </div>

    </div>

</body>
</html>